@CHARSET "UTF-8";
*{
	font-size: 25pt;
}
.area{
  text-align: center;
	width:60px;
	height: 60px;
	border: 1px solid;
	float: left;
}
.userInput{
  background-color: #b5ffc6;
}
.row{
	height: 60px;
	clear: both;
}
.row > .top{
	border-top: 3px solid;
}
.row > .bottom{
	border-bottom: 3px solid;
}
.row > .left{
	border-left: 3px solid;
}
.row > .right{
	border-right: 3px solid;
}
.error{
	background-color: red;
}
.git-group{
	width: 100%;
    background-image: linear-gradient(to bottom,#dedede 0,#f8f8f8 100%);
    margin: 5px;
    text-align: center;
    height: 50px;
}
.hint{
	background-color: #b5e8ff;
}
.duplicated{
	background-color: #ffb5b5;
}